*{
    box-sizing: border-box !important; 
    font-family: 'consolas', monospace;
    font-size: 12px;
} 
button{  
    height: 27px;
    padding: 0 10px;
    border: 1px solid #ccc; 
    border-radius: 4px;
}
hr{
    border: none;
    border-top: 1px solid #eee;
}
input{
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px;
}
input.fit{
    width: 100%;
}
select{
    padding: 5px;
    border: 1px solid #ccc;
}
svg {
    height: 12px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table td{
    padding: 10px;
    border: 1px solid #ccc;
}
table tr:nth-child(even){
    background-color: #eee;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    white-space: pre-line;
}